.checkerboard-wrap{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    width: 450px;
    height: 450px;
    margin: auto;
    padding: 30px;
    background-color: #f48e39;
}
.winner-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

.winner-wrap p{
    margin-top: 0;
    font-size: 30px;
}
.winner-wrap button{
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}

.checkerboard ul{
    width: 450px;
    margin: 0;
    padding-left: 0;
}
.checkerboard li{
    position: relative;
    float: left;
    list-style: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    
}
/* .checkerboard li:hover{
    background-color: rgba(0,0,0,.4);
} */

.checkerboard li::before,.checkerboard li::after{
   content: '';
   position: absolute;
   background-color: #000;
}
/* row */
.checkerboard li::before{
    top:50%;
    width: 100%;
    height: 1px;
   
}
.checkerboard .left::before{
    left: 50%;
}

.checkerboard .right::before{
    width: 50%;
}
/* column */
.checkerboard li::after{
    height: 100%;
    left: 50%;
    width: 1px;
}
.checkerboard .top::after{
    top:50%;
   
}
.checkerboard .bottom::after{
    height: 50%;
}

/* chess */
.checkerboard li.chess::before,
.checkerboard li.chess:after{
    content: none;
}


.checkerboard li.black-chess{
    background-color: #000;
}
.checkerboard li.white-chess{
    background-color: #fff;
}

